header.chart-app-header {
	background-color: var(--Soft-red);
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
}

div.my-balance {
	color: var(--Very-pale-orange);
}

div.my-balance h1 {
	margin-bottom: 8px;
	font-size: 0.65em;
	font-weight: 400;
}

div.my-balance span {
	font-size: 1.25em;
	font-weight: 700;
	letter-spacing: 0.1rem;
}
